.job-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.job-list-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.job-list-card h3 {
    margin-bottom: 10px;
    color: rgb(204, 51, 102);/* Red color for names */
    font-family:"Angkor", serif;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
}

.job-list-card p {
    color: rgba(54, 63, 143,0.8); /* Blue color for values */
    font-family: "Angkor", serif;
    font-weight: 200;
    font-style: normal;
    margin: 5px 0;
}

.job-list-card .job-list-key {
    font-family: serif;
    color: black;
}

.apply-job-list-btn {
    margin-top: auto; /* Ensures button is at the end of the card */
    align-self: flex-start; /* Aligns button to the end of the card */
    background-color: green;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}


.apply-job-list-btn.disabled {
    background-color: #ccc; /* Gray background color for disabled button */
    cursor: not-allowed; /* Change cursor to indicate button is not clickable */
  }