.students-jobs-list{
    min-height: 70vh;
}
.students-jobs-list *{
    color:black;
    line-height: 2;
}

.btn-excel, .btn-download-single-resume{
    margin-left: 70px;
    background-color: #c36;
    color: white;
    border:1px solid black;
    border-radius: 2px;
    cursor: pointer;
}
.btn-download-single-resume{
    background-color: #363f8f;
    margin-left: 0px;
}

.student-jobs-list-card{
    margin-bottom: 20px;
}

/* Hide arrow controls for number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}


@media (max-width:500px){
    .btn-excel{
        display: block;
        margin:auto;
        margin-bottom:10px ;
    }
}