.studentslist-dashboard {
    background-color: #e1e7ff !important;
    display: flex;
    padding: 2% 10px;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }
  .studentslist .title {
    margin: auto;
    color: #32398d;
  }
  .table-container {
    overflow-x: auto; /* Enables horizontal scrolling */
    width: 100%; /* Ensure container takes full width */
    padding-bottom: 9px;
  }
  .table-container table {
    width: 100%; /* Make table width 100% of its container */
    padding: 10px;
    border-collapse: collapse;
  }
  .table-container td,.table-container  th {
    background-color: #e1e7ff !important;
    padding: 15px 20px;
    color: black;
    border-collapse: collapse;
    border: 1px solid rgba(52, 64, 154, 0.4) !important;
    border: none !important;
    border-bottom-style: solid !important;
  }
  .table-container th {
    color: white;
    background-color: #32398d !important;
    border-radius: 5px 5px 0px 0px;
  }
  .loading-message,.no-results {
    font-size: 16px;
    color: #000; /* Black color for the loading message */
    text-align: center;
    margin-top: 20px;
  }
  .studentslist-search-bar {
    width: 40%;
    margin: 1.8% auto;
    border: none;
    border-radius: 2px;
    padding: 10px;
    color: black;
  }
  .studentslist-list {
    padding: 10px;
  }
  .studentslist-item {
    background-color: rgba(175, 169, 169, 0.4) !important;
    padding: 20px;
    border-radius: 5px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .pagination button {
    color: white;
  }
  @media (max-width: 700px) {
    .studentslist-dashboard {
        padding: 2% 0%;
    }
    .studentslist-search-bar {
        width: 80%;
    }
    .studentslist-item {
        padding: 8px;
    }
  }
  